
// @import url("https://fonts.googleapis.com/css2?family=Gloock&family=Roboto:wght@300&display=swap%22);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --PrimaryColor: #1E1E1E;
  --SecondaryColor: #F2F2F2;
  --colorOne: #F2F2F2;
  --colorTwo: #1E1E1E;
  --HoverColor: #F2F2F2;
  --whiteColor: #fff;
  --blackColor: #000;
  --textColor: #1E1E1E;
  --borderColor: #1E1E1E;
  --whiteColorDream: #F2F2F2;
  --greyBg: #F2F2F2;
  --greyText: #1E1E1E;
  --inputColor: #1E1E1E;
  --boxShadow: box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(0, 0, 0, 0.22) 0px 5px 15px;
  --transition: .4s ease-in-out;
}

.body {
  background: var(--whiteColor);
}

.a {
  text-decoration: none;
}

.li {
  list-style: none;
  cursor: pointer;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 1.3rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.none {
  display: none;
}

.btn {
  padding: 7rem 1.5rem;
  background: var(--PrimaryColor);
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
  color: var(--whiteColor);
}
.btn a {
  color: var(--whiteColor);
  font-weight: 500;
}
.btn:hover {
  background: var(--HoverColor);
}

img, video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
  color: var(--greyText);
}

p {
  font-size: 13px;
  color: var(--greyText);
  line-height: 22px;
}

h4 {
  padding: 1rem 0;
  font-weight: 700;
  color: var(--blackColor);
}

h2 {
  font-size: 25px;
  padding: 1rem 0;
  color: var(--blackColor);
}
